#ignore bin directory
/bin
/.DS_STORE
autom4te.cache
configure
config.status
aclocal
compile
config.log
decomp
install-sh
missing
aclocal.m4
depcomp
Makefile
config.h
docs/Makefile
src/.deps
src/Makefile
stamp-h1
src/Makefile.in
src/*.o
src/ssolver
